@model Adoptapal.Business.Definitions.User

@{
    ViewData["Title"] = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = Context.Session.GetString("UserId");
}

<h1>Profile</h1>

<hr />

<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card">
                    <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            @if (!string.IsNullOrEmpty(Model.PhotoPath))
                            {
                                <img src="~/images/@Model.PhotoPath"
                                     alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                style="width: 150px; height:200px; z-index: 1">
                            }else
                            {
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                     alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                     style="width: 150px; z-index: 1">
                            }

                            @if (userId == Model.Id.ToString())
                            {
                                <button type="button" id="modalBtn" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                                        style="z-index: 1;">
                                    Edit profile
                                </button>
                            }

                        </div>
                        <div class="ms-3" style="margin-top: 130px;">
                            <h5>@Model.Name</h5>
                            @if (Model.Address != null && !string.IsNullOrEmpty(Model.Address.City))
                            {
                                <p>@Model.Address.City</p>
                            }
                        </div>
                    </div>
                    <div class="p-4 text-black" style="background-color: #f8f9fa;">
                        <div class="d-flex justify-content-end text-center py-1">
                            <div>
                                <p class="mb-1 h5">@ViewBag.AnimalCount</p>
                                <p class="small text-muted mb-0">Animals</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4 text-black">
                        <div class="mb-5">
                            <p class="lead fw-normal mb-1">About</p>
                            <div class="p-4" style="background-color: #f8f9fa;">
                                <p class="font-italic mb-1">Email: @Model.Email</p>
                                <p class="font-italic mb-1">Phone: @Model.PhoneNumber</p>
                                @if (Model.Address != null && !string.IsNullOrEmpty(Model.Address.City))
                                {
                                    <p class="font-italic mb-1">Lives in @Model.Address.City</p>
                                }
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0">Recent animals</p>
                            <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
                        </div>

                        <!-- Animal List -->
                        <div class="row">
                            <div class="col">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Animal Category</th>
                                            <th>Color</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var animal in ViewBag.Animals)
                                        {
                                            <tr>
                                                <td><a href="@Url.Action("Details", "Animals", new { id = animal.Id })">@animal.Name</a></td>
                                                <td><a href="@Url.Action("Details", "Animals", new { id = animal.Id })">@animal.AnimalCategory</a></td>
                                                <td><a href="@Url.Action("Details", "Animals", new { id = animal.Id })">@animal.Color</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="Modal"></partial>

@section Scripts {
    <script type="text/javascript">

        $("#modalBtn").click(function () {
            $("#testModal").modal("show");
        })

        $('[data-dismiss="modal"]').each(function () {
            $(this).click(function () {
                $("#testModal").modal("hide");
            });
        })

        $("#saveButton").click(function () {
            alert("Saved");
            $("#testModal").modal("hide");
        });

    </script>
}

