@model Adoptapal.Business.Definitions.Animal

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageFilePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
    </dl>

    <div class="form-group col-md-6">
        <input type="hidden" asp-for="Id" />
        <a asp-action="UserProfile" asp-controller="Profile" asp-route-id="@Model.Id" class="btn btn-danger">User profile</a>
        <button class="btn btn-primary" id="Submit_ID">Adopt me</button>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    <script type="text/javascript">

        document.querySelector("#Submit_ID").addEventListener("click", composeEmail);

        function composeEmail() {
            var emailAddress = 'ziel@example.com';
            var subject = 'Dies ist der Betreff';
            var body = 'Dies ist der Inhalt der E-Mail.';

            var mailtoLink = 'mailto:' + emailAddress +
                '?subject=' + encodeURIComponent(subject) +
                '&body=' + encodeURIComponent(body);

            window.location.href = mailtoLink;
        }
    </script>
}
