@model Adoptapal.Business.Definitions.MessageBoard

@{
    // ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = Context.Session.GetString("UserId");
    var isOwner = userId != null && Model?.User?.Id.ToString() == userId;
}

<div class="row">
    <div class="col-sm-1">
        <a asp-action="Index" class="btn btn-secondary">go back</i></a>
    </div>
    <div class="col-sm-11">
        <h1>Details</h1>
    </div>
</div>
<hr />

<div class="col-md-8 offset-md-2">
    <div class="card mb-4">
        <h5 class="card-header">@Html.DisplayFor(model => model.Title)</h5>
        <div class="card-body" max-height="50px">
            <div class="text-start">
                <small class="text-muted">posted by @Html.DisplayFor(model => model.User.Name) (@Html.DisplayFor(model => model.User.Email))</small>
            </div>
            <hr>
            <div class="text-start">
                <p class="card-title">@Html.DisplayFor(model => model.Text)</p>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">upload time: @Html.DisplayFor(model => model.PostTime)</small>
        </div>
    </div>
</div>
<div>
@*    <button class="btn btn-primary col-md-8 offset-md-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTextarea" aria-expanded="false" aria-controls="collapseTextarea">
        add a comment
    </button>*@
    <a href="@Url.Action("PostComments", new { id = Model.Id })" class="btn btn-secondary col-md-8 offset-md-2">See Comments</a>
    <br />
    <br />
    @if (userId != null)
    {
        <a href="@Url.Action("CreateComment", new { currentPost = Model.Id})" class="btn btn-primary col-md-8 offset-md-2">Add a comment</a>
    }
</div>
<br />

<!-- display Comments this way, creating over separate view maybe -->

@*@{
    foreach(var item in Model.Comments)
    {
        <p>@Html.DisplayFor(modelItem => item.Text)</p>
    }
}*@

<!-- using Partial Views here...? (because multiple models are necessary) -->

@*<div class="collapse col-md-8 offset-md-2" id="collapseTextarea">
    <form asp-action="CreateComment" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <textarea asp-for="Comment.Text" class="form-control"></textarea>
            <span asp-validation-for="Comment.Text" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <div class="btn-group" role="group" aria-label="Button Group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</div>*@