@model Adoptapal.Business.Definitions.MessageBoard

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = Context.Session.GetString("UserId");
    var isOwner = userId != null && Model?.User?.Id.ToString() == userId;
}

<link rel="stylesheet" href="~/css/accountForms.css" asp-append-version="true" />

<div class="row">
    <div class="col-sm-1">
        <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i></a>
    </div>
    <div class="col-sm-11">
        <h1>Details</h1>
    </div>
</div>
<hr />

<div class="col-md-8 offset-md-2">
    <div class="card mb-4">
        <h5 class="card-header">@Html.DisplayFor(model => model.Title)</h5>
        <div class="card-body" max-height="50px">
            <div class="text-start">
                <small class="text-muted">posted by @Html.DisplayFor(model => model.User!.Name) (@Html.DisplayFor(model => model.User!.Email))</small>
                <a asp-action="UserProfile" asp-controller="Profile" asp-route-id="@Model!.Id" class="btn btn-primary">visit profile</a>
            </div>
            <hr>
            <div class="text-start">
                <p class="card-title">@Html.DisplayFor(model => model.Text)</p>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">upload time: @Html.DisplayFor(model => model.PostTime)</small>
        </div>
    </div>
</div>
<div>
    <button class="btn btn-secondary col-md-8 offset-md-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseComments" aria-expanded="false" aria-controls="collapseTextarea" id="toggleButton">Show comments</button>
    <br />
    <br />
    @if (userId != null)
    {
        <a href="@Url.Action("CreateComment", new { currentPost = Model.Id})" class="btn btn-primary col-md-8 offset-md-2">Add a comment</a>
    }
</div>
<br />

<div class="row justify-content-center collapse" id="collapseComments">
    <div class="col-6">
        @foreach (var comment in ViewBag.Comments)
        {
            <div class="card mb-4">
                <h5 class="card-header">@comment.User.Name <small class="text-muted">(@comment.User.Email)</small> says:</h5>
                <div class="card-body" max-height="50px">
                    <div class="text-start">
                        <p class="card-title">@comment.Text</p>
                    </div>
                @if (userId != null && userId == comment.User.Id.ToString())
                {
                <a href="@Url.Action("DeleteComment", new { id = comment.Id })" class="btn btn-danger">Delete</a>
                }
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>

        var toggleButton = document.getElementById("toggleButton");
        toggleButton.addEventListener("click", function () {
            if (toggleButton.textContent == "Show comments") {
                toggleButton.textContent = "Hide comments";
            } else {
                toggleButton.textContent = "Show comments";
            }
        });
    </script>
}